<!-- Beginning moduleInfoWidget view definition -->
	<div class="span12">
            	<div id="icon-img-container">
                    <img src="/theme/default/images/icon.jpg" width="75" height="75" border="0" alt="" id="icon-img">
                </div>
                <div>
                	<h3 id="module-name"></h3>
                </div>
	</div>
